<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>uts.isd.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>uts.isd.controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>uts.isd.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccessLogController</servlet-name>
        <servlet-class>uts.isd.controller.CreateAccessLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessLog</servlet-name>
        <servlet-class>uts.isd.controller.AccessLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomerController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>uts.isd.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffController</servlet-name>
        <url-pattern>/RegisterStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccessLogController</servlet-name>
        <url-pattern>/CreateAccessLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLog</servlet-name>
        <url-pattern>/AccessLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomerController</servlet-name>
        <url-pattern>/RegisterCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
